@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 65% 10%;
    --card: 0 0% 100%;
    --card-foreground: 222 65% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 65% 10%;
    --primary: 222 65% 16%;
    --primary-foreground: 0 0% 98%;
    --secondary: 214 55% 96%;
    --secondary-foreground: 222 65% 16%;
    --muted: 222 20% 95%;
    --muted-foreground: 222 30% 50%;
    --accent: 222 20% 95%;
    --accent-foreground: 222 65% 16%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 20% 90%;
    --input: 222 20% 90%;
    --ring: 222 65% 16%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
