.moving-circle {
  content: '';
  position: fixed;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  z-index: -1;
  pointer-events: none;
  filter: blur(30px);
}

.moving-circle-1 {
  animation: move-circle-1 20s ease-in-out infinite;
}

.moving-circle-2 {
  animation: move-circle-2 25s ease-in-out infinite;
}

.moving-circle-3 {
  animation: move-circle-3 30s ease-in-out infinite;
}

.moving-circle-4 {
  animation: move-circle-4 22s ease-in-out infinite;
}

.moving-circle-5 {
  animation: move-circle-5 28s ease-in-out infinite;
}

.moving-circle-6 {
  animation: move-circle-6 24s ease-in-out infinite;
}

.moving-circle-7 {
  animation: move-circle-7 26s ease-in-out infinite;
}

.moving-circle-8 {
  animation: move-circle-8 32s ease-in-out infinite;
}

@keyframes move-circle-1 {
  0% {
    top: 10%;
    left: 20%;
  }
  12.5% {
    top: 30%;
    left: 70%;
  }
  25% {
    top: 60%;
    left: 85%;
  }
  37.5% {
    top: 80%;
    left: 60%;
  }
  50% {
    top: 70%;
    left: 25%;
  }
  62.5% {
    top: 40%;
    left: 15%;
  }
  75% {
    top: 15%;
    left: 40%;
  }
  87.5% {
    top: 25%;
    left: 75%;
  }
  100% {
    top: 10%;
    left: 20%;
  }
}

@keyframes move-circle-2 {
  0% {
    top: 70%;
    left: 80%;
  }
  12.5% {
    top: 85%;
    left: 50%;
  }
  25% {
    top: 75%;
    left: 20%;
  }
  37.5% {
    top: 45%;
    left: 10%;
  }
  50% {
    top: 20%;
    left: 30%;
  }
  62.5% {
    top: 10%;
    left: 65%;
  }
  75% {
    top: 35%;
    left: 90%;
  }
  87.5% {
    top: 60%;
    left: 85%;
  }
  100% {
    top: 70%;
    left: 80%;
  }
}

@keyframes move-circle-3 {
  0% {
    top: 50%;
    left: 50%;
  }
  12.5% {
    top: 75%;
    left: 30%;
  }
  25% {
    top: 80%;
    left: 70%;
  }
  37.5% {
    top: 60%;
    left: 85%;
  }
  50% {
    top: 30%;
    left: 75%;
  }
  62.5% {
    top: 15%;
    left: 45%;
  }
  75% {
    top: 20%;
    left: 15%;
  }
  87.5% {
    top: 40%;
    left: 35%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}

@keyframes move-circle-4 {
  0% {
    top: 25%;
    left: 15%;
  }
  12.5% {
    top: 15%;
    left: 45%;
  }
  25% {
    top: 30%;
    left: 75%;
  }
  37.5% {
    top: 55%;
    left: 85%;
  }
  50% {
    top: 80%;
    left: 70%;
  }
  62.5% {
    top: 85%;
    left: 35%;
  }
  75% {
    top: 65%;
    left: 15%;
  }
  87.5% {
    top: 40%;
    left: 25%;
  }
  100% {
    top: 25%;
    left: 15%;
  }
}

@keyframes move-circle-5 {
  0% {
    top: 15%;
    left: 70%;
  }
  12.5% {
    top: 35%;
    left: 85%;
  }
  25% {
    top: 65%;
    left: 75%;
  }
  37.5% {
    top: 85%;
    left: 50%;
  }
  50% {
    top: 75%;
    left: 20%;
  }
  62.5% {
    top: 50%;
    left: 10%;
  }
  75% {
    top: 25%;
    left: 30%;
  }
  87.5% {
    top: 10%;
    left: 55%;
  }
  100% {
    top: 15%;
    left: 70%;
  }
}

@keyframes move-circle-6 {
  0% {
    top: 60%;
    left: 75%;
  }
  12.5% {
    top: 80%;
    left: 60%;
  }
  25% {
    top: 75%;
    left: 30%;
  }
  37.5% {
    top: 50%;
    left: 15%;
  }
  50% {
    top: 25%;
    left: 25%;
  }
  62.5% {
    top: 10%;
    left: 50%;
  }
  75% {
    top: 20%;
    left: 80%;
  }
  87.5% {
    top: 45%;
    left: 85%;
  }
  100% {
    top: 60%;
    left: 75%;
  }
}

@keyframes move-circle-7 {
  0% {
    top: 80%;
    left: 40%;
  }
  12.5% {
    top: 70%;
    left: 70%;
  }
  25% {
    top: 45%;
    left: 85%;
  }
  37.5% {
    top: 20%;
    left: 75%;
  }
  50% {
    top: 10%;
    left: 40%;
  }
  62.5% {
    top: 25%;
    left: 15%;
  }
  75% {
    top: 55%;
    left: 20%;
  }
  87.5% {
    top: 75%;
    left: 50%;
  }
  100% {
    top: 80%;
    left: 40%;
  }
}

@keyframes move-circle-8 {
  0% {
    top: 35%;
    left: 60%;
  }
  12.5% {
    top: 20%;
    left: 80%;
  }
  25% {
    top: 15%;
    left: 50%;
  }
  37.5% {
    top: 30%;
    left: 20%;
  }
  50% {
    top: 60%;
    left: 15%;
  }
  62.5% {
    top: 85%;
    left: 35%;
  }
  75% {
    top: 80%;
    left: 70%;
  }
  87.5% {
    top: 55%;
    left: 80%;
  }
  100% {
    top: 35%;
    left: 60%;
  }
}
